body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color:#e9edef; */
  background-color:#FAFAFA;
}

#head {
  display:flex; 
  align-items:center;
  justify-content:space-between;
  background-color:#e9edef;
  height: 250px;
  padding: 0 10% 0 10%;
}

#logo {
  /* height: 50%; */
}


#head li a { 
  color: #223138;
  text-decoration:none;
  text-decoration: 'none';
}

#head li {
  display: inline;
  padding: 5px 15px 5px 15px;
  font-family: 'bebas neue';
  text-decoration: none;
  color: #223138;
  font-size: 1.6em;
}

#container {
  padding: 0 5em 0 5em;
}


/*--------Header Page-----------*/
#head p {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
  line-height: 2.4em;
  color:#223138;
  margin: 0;
  padding-top: 5px;
  height: auto;
}


/*-------Profile Page-----------*/
#profile {
  display: flex;
}

.about {
  padding: 80px 10% 80px 10%;
  background-color: white;
}

.about li {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  background-color: #f0f0f0;
  color: #b6b6b6;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  padding: 13px 20px 10px 20px;
  margin: 5px;
  border-radius: 20px;
  line-height: 1.5em;
}

#profile p {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

#techStack {
  margin-top: 80px;
  text-align: center;
}

.about h3 {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:2em;
  margin-top:0;
}

#profilePic {
  border: red;
  height: 150px;
  width: 150px;
  overflow:hidden;
  border-radius:100%;
  object-fit:cover;
  min-width: 150px;
  margin-right: 40px;
  margin-top: 20px;
}

/*----------Work Page----------*/
#workContainer {
  display:flex;
  flex-wrap: wrap;
  /* font-size:0; */
}

#workCard {
  width: 50%; 
  overflow: hidden;
  position: relative;
  line-height:0;
}

#workText {
  width: 50%; 
  overflow: hidden;
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* line-height:0; */
}

#workDetail {
  width: 100%; 
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  /* line-height:0; */

}

#workDetail h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}
#workDetail h3 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .8);
  width:800px;
  padding-top: 30px;
  border-top: 2px solid rgb(216, 216, 216);
}

#workDetail p {
  font-family: quicksand;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  color:rgba(0, 0, 0, .8);
  mix-blend-mode: multiply;
  width: calc(100% - 100px);
  max-width: 800px;
  width:800px;
}

#workDetail img {
  width: calc(100% - 100px);
  max-width: 800px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
#workDetail p {
  width: calc(100% - 100px);
  max-width: 800px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

#workText h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}

#workText p {
  font-family: quicksand;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.6em;
  color:#cccbcb;
  padding:3em;
}

#workCard img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  filter: opacity(100%);
  transition: filter ease .5s;
}

#workCard img:hover {
  filter: opacity(100%);
  transition: filter ease .5s;
}



/*----------Project Page----------*/
#projectContainer {
  display:flex;
  flex-wrap: wrap;
  /* font-size:0; */
}

#projectCard {
  width: 50%; 
  overflow: hidden;
  position: relative;
  line-height:0;
}

#projectText {
  width: 50%; 
  overflow: hidden;
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* line-height:0; */
}

#projectDetail {
  width: 100%; 
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  /* line-height:0; */
}

#projectDetail h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}

#projectDetail p {
  font-family: quicksand;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4em;
  color:rgba(0, 0, 0, .8);
  mix-blend-mode: multiply;
  width: calc(100% - 100px);
  max-width: 800px;
}

#projectDetail img {
  width: calc(100% - 100px);
  max-width: 800px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;

}

#projectText h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}

#projectText p {
  font-family: quicksand;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.6em;
  color:#cccbcb;
  padding:3em;
}

#projectCard img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  filter: opacity(100%);
  transition: filter ease .5s;
}

#projectCard img:hover {
  filter: opacity(100%);
  transition: filter ease .5s;
}

#projectDetailContainer {
  /* width: 800px; */
}

/* ---------------------------------------------------------*/


#arrow {
  width:50px;
  height:30px;
  background-image: url(assets/Images/arrow.svg);
  background-repeat: no-repeat;
}

#contain {
  object-fit: cover;
}

.label {
  background-color: rgba(0, 0, 0, .0);;
  /* filter: opacity(20%); */
  /* height: 30px; */
  padding: 5px;
  width: 100%;
  height: 100%;
  z-index:5;
  position: absolute;
  transition: background-color ease .3s;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.label:hover {
  background-color: rgba(0, 0, 0, .7);
  transition: background-color ease .3s;
  cursor: pointer;
}

.label h1 {
  color: rgba(255, 255, 255, 0);
  font-family:'bebas neue';
  font-size:1.5em;
  text-align: center;
  letter-spacing:.2em;
  font-weight: 500;
  transition: color ease .3s;
}

.label:hover h1 {
  color: white;
  transition: color ease .3s;
}

.label p {
  color: rgba(255, 255, 255, 0);
  font-family:'quicksand';
  font-size:.8em;
  text-align: center;
  font-weight: 300;
  transition: color ease .3s;
}

.label:hover p {
  color: white;
  transition: color ease .3s;
}

/*----------Project Page----------*/
#projectLinkDiv {
  width:100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  border: 2px solid rgb(202, 202, 202);
  padding: 20px 40px 20px 40px;
  margin: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: quicksand;
  color:rgb(125, 125, 125);
  transition: all ease .7s;
}

.link:hover {
  background:rgba(236, 236, 236);
  border: 2px solid rgb(154, 154, 154);
  transition: all ease .7s;
}



/*----------Resume Page---------*/
.resume {
  padding: 80px 10% 80px 10%;
  background-color: white;
}

.resume h3 {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:2em;
  margin-top:0;
}

.resume p {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:1em;
  line-height:1.4em;
}

.resume div {
  margin-bottom:50px;
}

.resume li {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:1em;
  line-height:1.2em;
  margin-bottom:10px;
  padding-left:0px;
}

.resume ul {
  padding-left:15px;
}

/*-------------Footer-----------*/
#footer {
  text-align: center;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: white;
  flex-direction: column;
  margin-top: 50px;
}

#footerLinkDiv {
  width:100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footerLinkDiv a {
  border: 2px solid rgb(202, 202, 202);
  padding: 20px 40px 20px 40px;
  margin: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: quicksand;
  color:rgb(208, 208, 208);
  transition: all ease .7s;
}



#footer img {
  transition: all ease .7s;
}

#footer img:hover {
  color: purple;
  filter: brightness(.5); 
}

#footer a {
  color: rgb(202, 202, 202);
  text-decoration: none;
  transition: all ease .7s;
}

#footer a:hover {
  color: rgb(71, 71, 71);
}

#footer h1 {
  color: rgba(208, 208, 208);
  font-family:'bebas neue';
  font-size:1.5em;
  text-align: center;
  letter-spacing:.1em;
  font-weight: 500;
  transition: color ease .3s;
}

#footer ul {
  padding: 0;
}


#footer li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: rgba(208, 208, 208);
  font-family:'quicksand';
  font-size:1.25em;
  text-align: center;
  font-weight: 300;
  transition: color ease .3s;
  padding: 0px 20px 0px 20px;
}


@media only screen and (max-width: 1200px) {
  #head {
    justify-content: center;
    flex-direction: column;
  }
  #logoContainer {
    justify-content: center;
    flex-direction: column;
  }
  #workContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  #workCard {
    width: 100%; 
  }

  #workText {
    width: 100%; 
  }

  #workDetail {
    width: 100%;
  }

  #projectContainer {
    display:flex;
    flex-direction: column;
  }

  #projectCard {
    width: 100%; 
  }

  #projectText {
    width: 100%; 
  }

  #footer ul {
    flex-direction: column;
    padding: 0;
  }  

  #footer li {
  margin-bottom: 10px;
  margin-top: 10px;
  }  

}

@media only screen and (max-width: 650px) {
  #head p {
    /* line-height: 1.4em; */
    /* border: 1px solid pink; */
    min-width: 650px;
    text-align: center;
    visibility: hidden;
    height: 0;
  }


  #head ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  #head img {
    margin: 20px;
  }

  #head li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #head {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
  }

  .about div {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #profile p {

    text-align: left;
  }

  #profilePic {
    padding:0;
    margin: 0;
  }

  .about 

  html, body {
    overflow-x: hidden;
  }
}