:root {
<<<<<<< HEAD
  --dark-gray: #2b3441;
=======
  --dark-gray: #4f5f67;
>>>>>>> fa42b2c4a3786b9b1302868992012a723d72e35f
  --med-gray: #9faab1;
  --light-gray: #E9EDEF;
  --white: #FAFAFA;
  --purple: rgb(git);
  --dark-purple: rgb(79, 20, 106);
  --yellow: #eeb933;
  --green: #5bbf8e;
  --dark-blue: #313B4A; /* header bg color */
  --darker-blue: #1F242D; /* body bg color */
  --light-blue: #A8DAFF; /* logo color */
  --med-blue: #216699; 
  --dark-blue-trans: rgba(38, 45, 58, 0.9);
  --darkest-blue: rgb(21, 28, 40);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color:#e9edef; */
  background-color:var(--darker-blue);
  height: 100%;
}

#head {
  display:flex; 
  align-items:center;
  justify-content: center;
  background-color:var(--dark-blue);
  height: 150px;
  padding: 0 10% 0 10%;
}

.small {
  border: 1px solid red;
}

#logo {
  /* height: 50%; */
  color: var(--light-blue);
}

#head li a { 
  color: var(--light-blue);
  text-decoration:none;
  text-decoration: 'none';
}
#home a { 
  color: var(--light-blue);
  text-decoration:none;
  text-align: center;
  font-family: 'quicksand';
}
#home a:hover { 
  text-decoration:underline;
 
}

#head li {
  display: inline;
  font-family: 'quicksand';
  text-decoration: none;
  color: var(--light-blue);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .1em;
}

#container {
  padding: 0 5em 0 5em;
}


/*--------Header Page-----------*/
#head p {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
  line-height: 2.4em;
  color:var(--dark-gray);
  margin: 0;
  padding-top: 5px;
  height: auto;
}

#head .react-tabs__tab--selected {
  /* border-bottom: 1px solid var(--med-blue); */
  color: var(--light-blue);
  background-color: var(--dark-gray);

}

.react-tabs__tab--selected li {
  color: var(--dark-gray);
}



.react-tabs__tab-list {
  cursor: pointer;
  margin:0;
  padding:0;
}

.react-tabs__tab {
  margin: 0px 5px 0px 5px;
  padding: 8px 15px 5px 15px;
  transition: all ease 200ms;
  width: 125px;
  height: 137px;
  text-align: center;
  line-height: 140px;
}

.react-tabs__tab:hover {
  background-color: var(--lighter-blue);
  transition: all ease 200ms;
}



/*-------Profile Page-----------*/
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  padding: 50px 10% 50px 10%;
  background-color: var(--white);
  border-bottom: 1px solid rgb(218, 218, 218);
}

.about li {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  background-color:  var(--white);
  color: #b6b6b6;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  padding: 13px 20px 10px 20px;
  margin: 5px;
  border-radius: 20px;
  line-height: 1.5em;
}

#profile p {
  font-family: 'quicksand', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.4em;
}

#techStack {
  margin-top: 80px;
  text-align: center;
}

#code {
  color: var(--green);
  border: 1px solid var(--green);
}
#design {
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

.about h3 {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:2em;
  margin-top:0;
}

.about ul {
  padding: 0;
  margin: 50px auto 50px auto;
  max-width: 900px;

}

#profilePic {
  height: 257px;
  width: 273px;
  overflow:hidden;
  /* border-radius:40%; */
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  object-fit:cover;
  padding: 50px;
}



/*----------Home Page----------*/
#home {
  font-family: 'Quicksand';
  margin: 125px auto 50px auto;
  width: 100%;
  max-width: 600px;
  /* height: 300px; */
}

#home h1 {
  font-weight: 400;
  line-height: 1.4em;
  text-align: center;
  font-family: 'bebas neue';
  font-size: 3.5em;
  color: var(--light-blue);
  margin:0;
  padding: 0;
}

#home h2 {
  font-weight: 400;
  text-align: center;
  font-family: 'bebas neue';
  font-size: 2em;
  color: var(--med-blue);
  text-transform: uppercase;
  margin:0;
  padding: 0;
}

#home p {
  text-align: center;
  font-family: 'quicksand';
  font-size: 1.2em;
  color: var(--med-blue);
  line-height: 1.4em;
}

#home div {
  /* height: 100%; */
  /* margin-bottom: 200px; */
}

#icons {
  display:flex;
  width:100%;
  max-width:900px; 
  flex-wrap:wrap;
  margin-bottom: 50px;
  justify-content: center;
}

#icons img {
  margin: 0 25px 0 25px;
}

#fileDownload {
  border: 1px solid var(--dark-purple);
  width: 150px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  padding: 20px;
  transition: all 0.5s;
  margin: 50px auto 20px auto;
  align-items:center;
  justify-content: center;
  background-color: var(--dark-purple);
}

#fileDownload:hover {
  border: 1px solid var(--dark-gray);
}

#fileDownload:hover > a {
  color: var(--white);
}

#fileDownload:hover {
  background-color: var(--purple);
}

#fileDownload a:link {
  /* color: pink; */
  color: var(--white);
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;
}

#fileDownload a:link:hover {
  /* color: pink; */
  color: var(--white);
}

#purple {
  color:rgb(156, 66, 197);
}
#yellow {
  color:var(--yellow);
}
#green {
  color:var(--green);
}



.break {
  flex-basis: 100%;
  height: 0;
}

/*----------Work Page----------*/
#workContainer {
  width: 800px;
  margin: 30px auto 100px auto;
  border-radius: 14px;
  background-color: #EFF2F6;
  position:relative;
}


/* #workText::after {
  position: fixed;
  content: "\00BB \0020";
  position:relative;
  vertical-align: bottom;
  left:0;
  bottom:-100px;
  width: 100%;
  height: 250px;
  background: #000;
  transform: skew(-75deg);
  transform-origin:top;
  z-index: 5;
} */

#workFooter p {
  text-align: center;
  color: var(--med-gray);
  line-height: 1.4em;
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
}

#workFooter {
  padding: 10px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#detailContainer {
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 3em;
}

#workCard {
  width: 100%; 
  overflow: hidden;
  position: relative;
  line-height:0;
}

#workLink {
  width: 100%; 
  overflow: hidden;
  position: relative;
  line-height:0;
}

#workText {
  width: 100%;
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: var(--white);
}

#workDetail {
  width: calc(100% - 6em); 
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  padding: 3em;
}

#detailContainer {
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 3em;
}

#posters {
  display: flex;
  justify-content: space-between;
}

#workDetailCard {
  display:flex;
  flex-direction:column;
  margin: 50 auto;
  padding: 1.5em;
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--white);
  margin: 1.5em;
  box-shadow: 
  0.2px 0.2px 0.6px -3px rgba(0, 0, 0, 0.022),
  0.5px 0.5px 1.5px -3px rgba(0, 0, 0, 0.031),
  1.1px 1.1px 3px -3px rgba(0, 0, 0, 0.039),
  2.2px 2.2px 6.2px -3px rgba(0, 0, 0, 0.048),
  6px 6px 17px -3px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

#workDetailCard img {
  border-radius: 5px;
}

#workDetailCard p {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  color:var(--dark-gray);
}

#workDetail h1 {
  font-family:'quicksand';
  font-weight: 400;
  text-transform: uppercase;
  color:var(--dark-gray);
  width: 900px;
  margin: 0 auto;
}

#workDetail h2 {
  font-family:'bebas neue';
  text-transform: uppercase;
  letter-spacing: .04em;
  color:var(--dark-gray);
  mix-blend-mode: overlay;
  width: 900px;
  margin: 0 auto;

}
#workDetail h3 {
  font-family:'bebas neue';
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.6em;
  font-weight: normal;
  color:var(--dark-gray);
  /* width: 900px; */
  max-width: 900px;
  width: calc(100% - 100px);
  margin: 25px auto;
  padding-top: 30px;
}

#workDetail p {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  color:var(--dark-gray);
  mix-blend-mode: multiply;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

#workDetail img {
  width: 100%;
  margin-top: 50px;
  margin-top: 3em;
  margin-bottom: 3em;
}

#workText {
  width: calc(100% - 6em); 
  padding: 3em;
}


#workText h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:var(--dark-gray);
  mix-blend-mode: overlay;
}

#workText p {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  color:var(--dark-gray);
}

#workText h3 {
  color: var(--med-blue);
  font-family: quicksand;
  font-size: 1em;
  letter-spacing: .1em;
  margin:0;
  margin-top: 15px;
  width: 100%;
}

#workText p3 {
  color: var(--dark-gray);
  font-family: quicksand;
  font-size: 1em;
  font-family: quicksand;
  line-height: 1.6em; 
  width: 100%;
}

#workCard img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  filter: opacity(100%);
  transition: filter ease .5s;
  position: relative;
  border-radius: 12px 12px 0 0;
  z-index: 0;
}

#workLink img {
  width: 100%;
  height: 25em;
  object-fit: cover;
  filter: opacity(100%);
  transition: filter ease .5s;
  position: relative;
  z-index: 0;
}

#workLink:first-child {
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

#workLink:last-child {
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}



#skills {
  position: absolute;
  top: -40px;
  left: 40px;
}

#smallIcon {
  z-index: 1; 
}

#workCard img:hover {
  filter: opacity(100%);
  transition: filter ease .5s;
}

#workLink img:hover {
  filter: opacity(100%);
  transition: filter ease .5s;
}


/*----------Project Page----------*/
#projectContainer {
  display:flex;
  flex-wrap: wrap;
  /* font-size:0; */
}

#projectCard {
  width: 50%; 
  overflow: hidden;
  position: relative;
  line-height:0;
}

#projectText {
  width: 50%; 
  overflow: hidden;
  position: relative;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /* line-height:0; */
}

#projectDetail {
  width: 100%; 
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  /* line-height:0; */
}

#projectDetail h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}

#projectDetail p {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  color:var(--dark-gray);
  mix-blend-mode: multiply;
  width: calc(100% - 100px);
  max-width: 800px;
}

#projectDetail img {
  width: calc(100% - 100px);
  max-width: 800px;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;

}

#projectText h2 {
  font-family: quicksand;
  text-transform: uppercase;
  letter-spacing: .04em;
  color:rgba(0, 0, 0, .75);
  mix-blend-mode: overlay;
  padding:3em;
}

#projectText p {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.5em;
  color:#cccbcb;
  padding:3em;
}

#projectCard img {
  width: 100%;
  height: 30em;
  object-fit: cover;
  filter: opacity(100%);
  transition: filter ease .5s;
}

#projectCard img:hover {
  filter: opacity(100%);
  transition: filter ease .5s;
}

#projectDetailContainer {
  /* width: 800px; */
}

/* ---------------------------------------------------------*/


#arrow {
  width:50px;
  height:30px;
  background-image: url(assets/Images/arrow.svg);
  background-repeat: no-repeat;
}

#homeArt {
  /* width:600px; */
  width:750px;
  height: 490px;
  background-image: url(assets/Images/HomeArt.svg);
  background-repeat: no-repeat;
  position: relative;
  left: 50%;
  right: 50%;
  /* top:100px; */
  transform: translate(-50%, 0%);
  margin: 0 auto;
}

/* #homeArt:hover {
  background-image: url(assets/Images/HomeArt2.svg);
  transition: all 1.5s;
} */

/* s */

.label {
  background-color: rgba(0, 0, 0, .0);;
  /* filter: opacity(20%); */
  /* height: 30px; */
  padding: 5px;
  width: 100%;
  height: 100%;
  z-index:1;
  position: absolute;
  transition: background-color ease .3s;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

.label:hover {
  background-color: var(--dark-blue-trans);
  transition: background-color ease .3s;
  cursor: pointer;
  z-index: 1;
}

.label h1 {
  color: rgba(255, 255, 255, 0);
  font-family:'bebas neue';
  font-size:1.5em;
  text-align: center;
  letter-spacing:.2em;
  font-weight: 500;
  transition: color ease .3s;
}

.label:hover h1 {
  color: white;
  transition: color ease .3s;
}

.label p {
  color: rgba(255, 255, 255, 0);
  font-family:'quicksand';
  font-size:.8em;
  text-align: center;
  font-weight: 300;
  transition: color ease .3s;
}

.label:hover p {
  color: white;
  transition: color ease .3s;
}

/*----------Project Page----------*/
#projectLinkDiv {
  width:100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.link {
  border: 1px solid rgb(218, 218, 218);
  padding: 20px 40px 20px 40px;
  margin: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: quicksand;
  color:rgb(125, 125, 125);
  transition: all ease .7s;
}

.link:hover {
  background:rgba(236, 236, 236);
  border: 1px solid rgb(154, 154, 154);
  transition: all ease .7s;
}



/*----------Resume Page---------*/
.resume {
  padding: 80px 10% 80px 10%;
  background-color: white;
}

.resume h3 {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:2em;
  margin-top:0;
}

.resume p {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:1em;
  line-height:1.4em;
}

.resume div {
  margin-bottom:50px;
}

.resume li {
  font-family:'Quicksand';
  font-weight: 400;
  font-size:1em;
  line-height:1.2em;
  margin-bottom:10px;
  padding-left:0px;
}

.resume ul {
  padding-left:15px;
}

/*-------------Footer-----------*/
#footer {
  text-align: center;
  display:flex;
  /* align-content: stretch; */
  justify-content: space-between;
  align-items:center;
  background-color: var(--darkest-blue);
  position: fixed;
  bottom: 0;
  height: 60px;
  text-align: center;
  width: 100%;
  z-index: 2;
}

#tagline {
  flex: 0 0 300px;
}

#line {
  background-color: var(--med-blue);
  /* width: 400px; */
  height: 1px;
  flex: 1 1 auto;
}

.iconContainer {
  /* width: 300px; */
  display:flex;
  flex: 0 0 250px;
  justify-content:center;
}

#icon {
  width: 40px;
  height: 40px;
  background-color: green;
  margin: 5px;
}

#footerLinkDiv {
  width:100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footerLinkDiv a {
  border: 1px solid rgb(218, 218, 218);
  padding: 20px 40px 20px 40px;
  margin: 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: quicksand;
  color:var(--med-gray);
  transition: all ease .7s;
}



#footer img {
  transition: all ease .7s;
}

#footer img:hover {
  color: purple;
  filter: brightness(.5); 
}

#footer a {
  color: var(--med-gray);
  text-decoration: none;
  transition: all ease .7s;
}

#footer a:hover {
  color: rgb(71, 71, 71);
}

#footer h1 {
  color: var(--dark-gray);
  font-family:'bebas neue';
  font-size:1.5em;
  text-align: center;
  letter-spacing:.1em;
  font-weight: 500;
  transition: color ease .3s;
}

#footer ul {
  padding: 0;
  bottom: 0;
}


#footer li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: rgba(208, 208, 208);
  font-family:'quicksand';
  font-size:1.25em;
  text-align: center;
  font-weight: 300;
  transition: color ease .3s;
  padding: 0px 20px 0px 20px;
}

#footer p {
  color: var(--med-blue);
}


@media only screen and (max-width: 1200px) {
  #head {
    justify-content: center;
    flex-direction: column;
  }
  #logoContainer {
    justify-content: center;
    flex-direction: column;
  }
  /* #workContainer {
    display:flex;
    flex-direction: column;
    align-items:center;
  } */

  /* #workCard {
    width: calc(100%); 
  } */



  /* #workDetail {
    width: 100%;
  } */

  #projectContainer {
    display:flex;
    flex-direction: column;
  }

  #projectCard {
    width: 100%; 
  }

  #projectText {
    width: 100%; 
  }

  #footer ul {
    flex-direction: column;
    padding: 0;
  }  

  #footer li {
  margin-bottom: 10px;
  margin-top: 10px;
  }  

  #home h1, h2{
    text-align: center;
  }

}

@media only screen and (max-width: 650px) {
  #head p {
    /* line-height: 1.4em; */
    /* border: 1px solid pink; */
    min-width: 650px;
    text-align: center;
    visibility: hidden;
    height: 0;
  }


  
  #head ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  #head img {
    margin: 20px;
  }

  #head li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #head .react-tabs__tab--selected {
    /* background-color: rgba( 255, 255, 255, .5); */
    border-bottom: none;
    /* padding:0; */
    color: black;
  }

  #head {
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 0;
  }



  #homeArt {
    /* width:600px; */
    /* width:200px; */
    height: 600px;
    background-image: url(assets/Images/HomeArt2.svg);
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    right: 50%;
    /* top:100px; */
    transform: translate(-30%, 0%);
    margin: 0 auto;
  }
  
  #icons img {
    width: 35vw;
    display:none;
  }

  #home {
    /* margin-top:0px; */
  }

  .about div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #profile p {
    text-align: left;
  }

  #profilePic {
    padding:0;
    margin: 0;
  }

  html, body {
    overflow-x: hidden;
  }
}